DATABASE_URL=prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19hR0V5RWVOYlVDemZ0TFJrU1oyNVMiLCJhcGlfa2V5IjoiMDFLNTk4WlI4SkM0UE5KN0g2TjVGNEVaODQiLCJ0ZW5hbnRfaWQiOiI4MmQ3ODExZGYzZDY4MGVmNjkwMDc0Zjg0NWVjODYxYWYyNjAwOTBiNjRkYTM1Mzk4ZmQwM2VkMGY5ZmEwYzFlIiwiaW50ZXJuYWxfc2VjcmV0IjoiMzNkMjQxNmMtYzA1MS00MTE0LWFlMjEtMTk2ZDQ0NTlhMTRlIn0.lwZ4aSHBYz1DI77SmhrJeSSDe6ygA0Mq5mdn6UYemG4
DIRECT_URL=postgresql://postgres.ydbhokoxqwqbtqqeibef:te8ZdCF5oFh2mbDc@aws-1-us-east-1.pooler.supabase.com:5432/postgres
