# build + deps
node_modules/
.next/
out/
coverage/
dist/

# assets & third-party stuff
public/
public/**
docs/**
comfy/**
public/games/**
public/assets/**

# styles (we're not ESLinting CSS)
**/*.css
**/*.scss
**/*.sass

# misc
*.lock
*.log
*.md
*.json
*.yaml
*.yml
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.woff
*.woff2
*.ttf
*.eot
